*

!*/

!.gitignore
!.gitmodules

!.vscode/*.json
!*.{R.r}
!data/*.{sh,c}
!benchmark/*
!src/Makevars
!src/*.{c,h}
!src/bin/*.{c,h}
!src/csv/*.{c,h}
!src/evil/*.{c,h}
!vignettes/*
!DESCRIPTION
!NAMESPACE
!README.md

..Rcheck
