*
!.gitignore
!.gitmodules

!.vscode/*.json
!R/*.{R.r}
!benchmark/*
!data/*
!src/Makevars
!src/*.{c,h}
!src/bin/*.{c,h}
!src/csv/*.{c,h}
!src/evil/*.{c,h}
!src/bzip2/*.{c,h}
!tests/*
!vignettes/*
!DESCRIPTION
!NAMESPACE
!README.md


